<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corely.dao.TypeMapper">

    <resultMap id="BaseResultMap" type="com.corely.entity.Type">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>
    <select id="selectTypesAndCount" resultType="com.corely.vo.TypeShow">
       SELECT t.id,t.name,b.count
        FROM t_type t
        INNER JOIN
        (SELECT COUNT(id) AS 'count',type_id FROM t_blog
	    WHERE published = TRUE
        GROUP BY type_id) b
        ON t.id = b.type_id
    </select>
</mapper>
